.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color:burlywood;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 400px;
}
#myBtn {
	background-color: #EF233C;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}