body {
    background-image: url("background.png");
}

.navbar {
    display: flex;

}

#cart {
    float:right;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 70pc;
    margin-top: 10pc;
}

.socials {
   position: fixed;
   margin-top: 20pc;
}


.main-img {
    float: right;
    vertical-align: middle;
    position: relative;
    margin-top: -28.03%;
}
